.current .title-animate{
	-webkit-animation-name:title-animate;
	animation-name:title-animate;
	animation-duration: 0.6s;
	animation-fill-mode: both;
	-webkit-animation-fill-mode:both;
	-webkit-animation-timing-function:ease-in;
	animation-timing-function: ease-in;
	transform-origin: bottom;
	-webkit-transform-origin:bottom;

}

@-webkit-keyframes title-animate{
	0%{
		opacity:0;
		-webkit-transform:translate3d(0,50%,0);
		transform: translate3d(0,50%,0);
	}
	100%{
		opacity:1;
		-webkit-transform:translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
}

@keyframes title-animate{
	0%{
		opacity:0;
		-webkit-transform:translate3d(0,50%,0);
		transform: translate3d(0,50%,0);
	}
	100%{
		opacity:1;
		-webkit-transform:translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
}

.current .bounceInLeft{
	-webkit-animation-name:boundLeft;
	animation-name:boundLeft;
	animation-duration: 0.6s;
	animation-fill-mode: both;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both;
}

@keyframes boundLeft{
	0%, 60%, 75%, 90%, 100% {
	      -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	      transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	  }

	  0% {
	      opacity: 0;
	      -webkit-transform: translate3d(0, 3000px, 0);
	      transform: translate3d(0, 3000px, 0);
	  }

	  60% {
	      opacity: 1;
	      -webkit-transform: translate3d(0, -12px, 0);
	      transform: translate3d(0, -12px, 0);
	  }

	  75% {
	      -webkit-transform: translate3d(0, 5px, 0);
	      transform: translate3d(0, 5px, 0);
	  }

	  90% {
	      -webkit-transform: translate3d(0, -2px, 0);
	      transform: translate3d(0, -2px, 0);
	  }

	  100% {
	      -webkit-transform: none;
	      transform: none;
	  }
}

.current .people-animate{
	-webkit-animation-name:people-animate;
	animation-name:people-animate;
	-webkit-animation-duration: 0.6s;
	animation-duration: 0.6s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
	-webkit-transform-origin: bottom ;
	transform-origin: bottom;
}

.delay-2s{
	animation-delay: 1.2s;
}

.delay-3s{
	animation-delay:1.6s;
}


@keyframes people-animate{
	0%{
		-webkit-transform:scale3d(0,0,0);
		transform:scale3d(0,0,0);
	}
	100%{
		-webkit-transform:scale3d(1,1,1);
		transform:scale3d(1,1,1);
	}
}

.current .c{
	animation-name: circle-animate;
	-webkit-animation-name:circle-animate;
	-webkit-animation-duration: 4.5s;
	animation-duration: 4.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}

@keyframes circle-animate{
    0% {
        opacity:0.8;
        -webkit-transform: scale3d(0.2,0.2,0.2);
        transform: scale3d(0,0,0);
    }
    100% {
        opacity: 0.2;
        -webkit-transform: scale3d(2.5, 2.5, 2.5);
        transform: scale3d(2.5, 2.5, 2.5);

    }
}



.boundUp{
	-webkit-animation-name: boundUp;
	animation-name: boundUp;
	animation-duration: 1.5s;
	animation-fill-mode: both;
	-webkit-animation-fill-mode:both;
	-webkit-animation-timing-function:ease-out;
	animation-timing-function: ease-out;
	transform-origin: bottom;
	-webkit-transform-origin:bottom;
	animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
}

@keyframes boundUp{
	10%{
		-webkit-transform: translate3d(0, -5px, 0);
		transform: translate3d(0, -5px, 0);
	}
	100%{
		transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
	}
}




@-webkit-keyframes round-animate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes round-animate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.current .round-animate {
    -webkit-animation-name: round-animate;
    animation-name: round-animate;
    animation-delay: 1.6s;
    -webkit-animation-delay:1.6s;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    transform-origin: center;
}


.current .photoes-animate{
	-webkit-animation-name: photoes-animate;
	animation-name: photoes-animate;
	animation-duration: 0.5s;
	animation-fill-mode: both;
	-webkit-animation-fill-mode:both;
	animation-timing-function: linear;
	transform-origin: center bottom;
}

@keyframes photoes-animate{
	0%{
		transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
	}
	100%{
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
	}
}

.current .photoes-up{
	animation-name: photoes-up-animate;
	animation-duration: 0.3s;
	animation-delay: 0.6s;
	animation-fill-mode: both;
	transform-origin: top;
}

@keyframes photoes-up-animate{
	0%{
		transform: scaleY(0);	
	}

	50%{
		transform: scaleY(1);
	}
		100%{
		transform: scaleY(0);
	}
}
.current .photoes-low{
	animation-name: photoes-up-animate;
	animation-duration: 0.3s;
	animation-delay: 0.6s;
	animation-fill-mode: both;
	transform-origin: bottom;
}

@keyframes photoes-up-animate{
	0%{
		transform: scaleY(0);
	}
	50%{
		transform: scaleY(1);
	}
	100%{
		transform: scaleY(0);
	}
}

.current .fadeout-animate{
	animation-name: fadeout-animate;
	animation-delay: 1.5s;
	animation-duration: 0.6s;
	animation-fill-mode: both;
	animation-timing-function: linear;
}

.fadeout-animate{
	width:100%;
	min-height: 300px;
}

@keyframes fadeout-animate{
	0%{
		opacity: 0.8;
		transform: translateX(0);
	}

	100%{
		opacity: 0;
		transform: translateX(-1000px);
	}
}

.current .fadein-animate{
	animation-name:fadein-animate;
	animation-delay: 1.5s;
	animation-duration: 0.6s;
	animation-timing-function: ease-in;
	animation-fill-mode: both;
}

@keyframes fadein-animate{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.current .photoes-bg-animate{
	animation-name: pbg-animate;
	animation-delay: 1.5s;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-timing-function: ease-in;
}

@keyframes pbg-animate{
	0%{
		opacity: 1;
	}

	100%{
		opacity: 0;
	}
}

.current .ps-animate{
	animation-name:ps-animate;
	animation-delay: 1.5s;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-timing-function: ease-in;
	width:140px;
}

@keyframes ps-animate{
	0%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}

.current .rotate-animate{
	animation-name: rotates-animate;
	animation-duration: 2.5s;
	animation-delay: 1.2s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
	animation-timing-function:linear;
}

@keyframes rotates-animate{
	0%{
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
	}
}

.current .rotate-round-animate{
	animation-name: fly-animate;
	animation-delay: 1.5s;
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-timing-function: linear;
}

@keyframes fly-animate{
	0%{
		transform:translate3d(400px, -100px, 0);
	}
	100%{
		transform: translate3d(0,0,0);
	}
}