html,body, ul, li, div{margin:0;padding:0;}

.brh-menu{
	max-width:1000px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
	color:#333;
	font-size: 12px;
}

ul, li{list-style:none;}

li{ 
	min-height: 32px;
	line-height: 32px;
	background-color: rgb( 255,255,255);
	position:relative;
	display: list-item;
}

li>div{
	cursor: pointer;
}

.sub-menu:hover, .menu-item:hover, .active{
	background-color: #fef1e9;
	color:#f37327;
}

.sub-menu {
	position:relative;
}

.sub-menu:after{
	position:absolute;
	display:block;
	right:10px;
	font-size: 16px;
	height:16px;
	width:16px;
	content:">";
	line-height:16px;
	transform: rotate(-90deg);
	transition: all 0.2s ease;
}

.branches-menu .open{
	display: block;
}

.branches-menu .hidden{
	display: none;
}

.title-hidden:after{
	top:2px;
}

.title-open:after{
	transform: rotate(90deg);
	top:10px;
}

.branches-horizontal>li{
	float:left;
	position: relative;
}


.branches-horizontal .menu-item, 
.branches-horizontal .sub-menu{
	padding: 0 30px;
}

.branches-horizontal ul{
	position:absolute;
	z-index: 10;
	white-space: nowrap;
}


.center{
	position: relative;
	left:50%;
	float: left;
	clear:both;
}

.menu{
	display:block;
	clear:both;
	margin: 0 auto;
	border-radius: 5px;
	padding: 8px 15px;
	color: rgba(255,255,255,0.7);
	background-color: #6bb486;
	position: relative;
	left:-50%;
}