html,body, div, ul, li, dt, dd, dl,ol{
	margin: 0;
	padding: 0;
}

body{ 
	width:760px; 
	margin-right: auto;
	margin-left: auto;
	position: relative;
	overflow: hidden;
	margin-top: 100px;
}

.tip{
	cursor:pointer;
	padding: 8px 20px;
	border: 1px solid rgb(98,98,98);
	float:left;
}


.branches-tip{
	position: absolute;
	left:0;
	top:0;
	opacity:0;
	filter:alpha(opacity=0);
}

.triangle-left-top{
	position: absolute;
	left: 0;
	width: 0;
	height: 0;
	border-width: 8px;
	border-style: solid;
	border-color: rgba(98,98,98,1) transparent transparent  transparent;
	z-index: 9;
}

.triangle-left-top:before{
	position: absolute;
	content:"";
	left: -7px;
	top:-9px;
	width: 0;
	height: 0;
	border-width: 7px;
	border-style: solid;
	border-color:  #fff transparent transparent transparent;
	z-index: 10;
}

.branches-tip-content{
	display: inline-block;
	border:1px solid red;
	position: absolute;
	left:0;
	top:0;
	word-break:break-all; 
	padding: 8px 15px;
}

.tip:hover .branches-tip{
	display:block!important;
	opacity: 1;
	filter: alpha(opacity=100);
}